{% extends 'mysite_base.html' %}
{% block content %}
{% load static from staticfiles %}



<div class="Main">
    <h2>Elsid Younes >>></h2>
        <p>Hold a master degree in chemistry.
            I have a neuro-muscular disease called Friedreich's ataxia disease (fA).
            Therefore, I am on a wheelchair since 2010.</p>

    <div class="ask">
        <h2>Hi guys and welcome to my personal website,,,,

        Let's do something together to change the world!</h2>
    </div>

</div>

{% endblock %}