{% extends 'mysite_base.html' %}
{% block content %}
<body>
<div class="contact">
     <nav>
    <ul>
         <li><h2><a href="https://www.facebook.com/chem.sa3id/">Facebook</a></h2></li>
        <li>
            <h2><a href="https://www.linkedin.com/in/elsaid-mohamed-39974495/">Linkedin</a></h2>
        </li>



    </ul>
 </nav>
    <div class="email">
       <h1> You can contact me at elkhot@gmail.com<a href="mailto:elkhot@gmail.com">Click here to send</a></h1>
    </div>

    <div class="mobile">
        <h1>My cell phone is 00201026680536<a>available on WhatsApp and on Telegram</a></h1>
    </div>
</div>
</body>
</html>
{% endblock %}